<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Goldpark logistics</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login/css/bootstrap.min.css" />
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/login/css/fontawesome-all.min.css" />
    <!-- Star Animation CSS -->
    <link rel="stylesheet" href="/login/css/star-animation.css" />
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/home.css" />
    <!-- Google Web Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/login/style.css" />
  </head>

  <body>
    <!-- jquery-->
    <script src="/login/js/jquery-3.5.0.min.js"></script>
    <!-- Popper js -->
    <script src="/login/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/login/js/bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="/login/js/imagesloaded.pkgd.min.js"></script>

    <!-- Validator js -->
    <script src="/login/js/validator.min.js"></script>
    <!-- Custom Js -->
    <script src="/login/js/main.js"></script>
  </body>
</html>
