<%- include("authHeader") -%>

<section class="fxt-template-animation fxt-template-layout21">
  <!-- Animation Start Here -->
  <div id="particles-js"></div>
  <!-- Animation End Here -->
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-6 col-lg-7 col-sm-12 col-12 fxt-bg-color">
        <div class="fxt-content">
          <div class="fxt-header">
            <a href="#" class="fxt-logo"
              ><img
                src="/login/img/Logo/isadora std regula font - Copy.png"
                width="150"
                alt="Logo"
            /></a>
            <p>Authentication</p>
          </div>
          <div class="fxt-form">
            <form method="POST">
              <div class="form-group">
                <div class="fxt-transformY-50 fxt-transition-delay-1">
                  <input
                    type="text"
                    id="email"
                    class="form-control"
                    name="authcode"
                    maxlength="6"
                    onkeypress="return /[0-9]/i.test(event.key)"
                    placeholder="Auth Code"
                    required="required"
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="fxt-transformY-50 fxt-transition-delay-4">
                  <button type="submit" class="fxt-btn-fill">
                    Authenticate
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="fxt-footer">
            <div class="fxt-transformY-50 fxt-transition-delay-9">
              <p>
                Don't have an account?<a
                  href="register-21.html"
                  class="switcher-text2 inline-text"
                  >Contact Admin</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Particles js -->
<script src="/login/js/particles.min.js"></script>
<script src="/login/js/particles-1.js"></script>
