<%- include("authHeader") -%>
<section class="fxt-template-animation fxt-template-layout13">
  <!-- Star Animation Start Here -->
  <div class="star-animation">
    <div id="stars1"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="stars4"></div>
    <div id="stars5"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-md-6 col-12 order-md-2 fxt-bg-wrap"
        style="background-color: #267399"
      >
        <div class="fxt-bg-img" data-bg-image="img/figure/bg13-l.jpg">
          <div class="fxt-header">
            <div class="fxt-transformY-50 fxt-transition-delay-1">
              <a href="#" class="fxt-logo"
                ><img src="../assets/images/Logo/logo white.png" width="200" alt="Logo"
              /></a>
            </div>
            <div class="fxt-transformY-50 fxt-transition-delay-2">
              <h1>Welcome To Goldpark Logistics</h1>
            </div>
            <div class="fxt-transformY-50 fxt-transition-delay-3">
              <p>
                Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion
                consectetur elit. Vesti at bulum nec odio aea the dumm ipsumm
                ipsum that dolocons rsus mal suada and fadolorit to the dummy
                consectetur elit the Lorem Ipsum genera.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 order-md-1 fxt-bg-color">
        <div class="fxt-content">
          <h2>Login</h2>
          <div class="fxt-form">
            <form method="POST">
              <div class="form-group">
                <label for="email" class="input-label">Email Address</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  name="email"
                  placeholder="demo@gmail.com"
                  required="required"
                />
              </div>
              <div class="form-group">
                <label for="password" class="input-label">Password</label>
                <input
                  id="password"
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="********"
                  required="required"
                />
                <i
                  toggle="#password"
                  class="fa fa-fw fa-eye toggle-password field-icon"
                ></i>
              </div>
              <div class="form-group">
                <div class="fxt-checkbox-area">
                  <div class="checkbox">
                    <input id="checkbox1" type="checkbox" />
                    <label for="checkbox1">Keep me logged in</label>
                  </div>
                  <a href="forgot-password-13.html" class="switcher-text"
                    >Forgot Password</a
                  >
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="fxt-btn-fill">Log in</button>
              </div>
            </form>
          </div>
          <div class="fxt-footer">
            <p>
              Don't have an account?<a
                href="#"
                class="switcher-text2 inline-text"
                >Register</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
