<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proccessing</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">

    <style>
        .center{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: large;
            color:rgb(24, 190, 24);
            /* flex-wrap: wrap; */

        }
    </style>
    

    <script>
    setTimeout(function() {
        window.location.href = '/welcome';            
    }, 5000);




    </script>
</head>
<body >
   





   <div class="center">
    <div class="item">
        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_rtxcgnqq.json"  background="transparent"  speed="2"  style="width: 500px; height: 500px;"   autoplay></lottie-player>
       </div>
    <div class="break"></div> <!-- break to a new row -->
    <div class="item">
        <p>Inbound Generated Successfully !!!</p>
    </div>
</div>
    
</body>
</html>