<%- include("../partial/header") -%>
    <div class="">
      <div class="final-content">
        <div class="icon">
          <img src="assets/images/big-green-check.png" alt="" />
        </div>
        <h2>Complete Submition</h2>
        <p>
          Hey ! Thanks for upload your documents, Our review team will review
          your documents and you will get an update
        </p>
        <a href="/landing" class="btn" style="background-color: #009bb6"
          >Back to Landing page</a
        >
      </div>
    </div>
    <%- include("../partial/header") -%>