<%- include("../Auth/authHeader") -%>

<div class="ugf-covid covid-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-md anfra-nav">
          <a class="navbar-brand" href="../index.html">
            <img
              src="assets/images/Logo/logo white.png"
              class="main-logo"
              width="160"
              alt=""
            />
            <img
              src="assets/images/Logo/isadora std regula font - Copy.png"
              class="logo-2"
              width="130"
              alt=""
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="las la-bars"></i>
          </button>
        </nav>
      </div>
    </div>
  </div>
  <div class="pt30">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 relative">
          <div class="user-tips text-center">
            <img
              style="border-radius: 50%; border: 1px solid rgb(81, 80, 80)"
              src="login/img/profile.png"
              alt="profile picture"
              width="200px"
            />
            <div class="tips row text-center">
              <div class="top col-10">
                <span class="badge">Admin</span>
                <span class="title">Manager</span>
              </div>
              <h3 class="col-12">farouk audu</h3>
              <p class="col-12">faroukaudu@gmail.com</p>
            </div>
          </div>
          <div class="step-block row justify-content-center">
            <div class="row col-lg-12">
              <a
                href="/addUser"
                class="button col-lg-5"
                style="margin-right: 25px"
              >
                Add User</a
              >
              <a href="#" class="button col-lg-6"> Add Warehouse</a>
            </div>
            <a href="#" class="button col-lg-11 mt-5"> Advance Report</a>
          </div>
        </div>
        <div class="col-xl-5 offset-xl-3 col-lg-6 offset-lg-1 p-sm-0">
          <div class="covid-wrap">
            <form action="/landing" method="post">
              <div class="covid-test-wrap test-step active">
                <h3 class="text-center">OPERATIONS</h3>
                <div class="step-block">
                  <div class="form-group">
                    <input
                      type="radio"
                      name="operation"
                      class="form-control"
                      id="Inbound"
                      value="inbound"
                    />
                    <label for="Inbound">INBOUND</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      name="operation"
                      value="outbound"
                      class="form-control"
                      id="outbound"
                    />
                    <label for="outbound">OUTBOUND</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="radio"
                      name="operation"
                      class="form-control"
                      id="report"
                      value="report"
                    />
                    <label for="report">REPORT</label>
                  </div>
                  <button type="submit" class="button">Next</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
