<%- include("../partial/header") -%>
<section class="ftco-section">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section mt-5">Report</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Bactch No</th>
                <th>Date</th>
                <th>Warehouse</th>
                <th>Refrence No/OBD</th>
                <th>Commodity</th>
                <th>Unit Weight</th>
                <th>Quantity</th>
                <th>Metri-ton</th>
                <th>Activity</th>
                <th>Des From</th>
                <th>Des To</th>
                <th>Transporter/Supplier Name</th>
                <th>Truck Plate No</th>
                <th>Driver Name</th>
                <th>Driver Contact</th>
                <th>Remark</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>123456578</td>
                <td>6-6-2020</td>
                <td>WR721</td>
                <td>3000</td>
                <td>Rice</td>
                <td>20kg</td>
                <td>4</td>
                <td>3000MT</td>
                <td>NGO</td>
                <td>Enugu</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>WR1200</td>
                <td>John</td>
                <td>0905445342</td>
                <td>Lorem ipsum dolor sit amet, Quis laborum accusamus beatae.
                </td>
                <td><a href="#" class="btn btn-success">Progress</a></td>
              </tr>

              <tr>
                <th scope="row">2</th>
                <td>123456578</td>
                <td>6-6-2020</td>
                <td>WR721</td>
                <td>4000</td>
                <td>Beans</td>
                <td>20kg</td>
                <td>4</td>
                <td>3000MT</td>
                <td>GCMF</td>
                <td>Enugu</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>WR1200</td>
                <td>James</td>
                <td>0905445342</td>
                <td>Lorem ipsum dolor sit amet, Quis laborum accusamus beatae.
                </td>
                <td><a href="#" class="btn btn-warning">Open</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("../partial/footer") -%>
