<%- include("../partial/header") -%>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Table #09</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Bactch No</th>
                <th>Date</th>
                <th>Warehouse</th>
                <th>Refrence No/OBD</th>
                <th>Commodity</th>
                <th>Unit Weight</th>
                <th>Quantity</th>
                <th>Metri-ton</th>
                <th>Activity</th>
                <th>From</th>
                <th>To</th>
                <th>Transporter/Supplier Name</th>
                <th>Truck Plate No</th>
                <th>Driver Name</th>
                <th>Driver Contact</th>
                <th>Remark</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1001</th>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>$1200</td>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>$1200</td>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>$1200</td>
                <td>$3000</td>
                <td>$1200</td>
                <td><a href="#" class="btn btn-success">Progress</a></td>
              </tr>

              <tr>
                <th scope="row">1001</th>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>$1200</td>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>$1200</td>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>$1200</td>
                <td>$3000</td>
                <td>$1200</td>
                <td><a href="#" class="btn btn-warning">Open</a></td>
              </tr>

              <tr>
                <th scope="row">1001</th>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>$1200</td>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>$1200</td>
                <td>Mark Otto</td>
                <td>Japan</td>
                <td>$3000</td>
                <td>$1200</td>
                <td>$3000</td>
                <td>$1200</td>
                <td><a href="#" class="btn btn-danger">On hold</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include("../partial/footer") -%>
